<%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>

        <body>
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                    <div>
                        <h1>All User
                        </h1>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">name</th>
                                        <th scope="col">city</th>
                                        <th scope="col">occupation</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>

                                <% users.forEach((data , index)=> { %>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <%= index %>
                                            </th>
                                            <td>
                                                <%= data.data.name %>
                                            </td>
                                            <td>
                                                <%= data.data.city %>
                                            </td>
                                            <td>
                                                <%= data.data.occupation %>
                                            </td>
                                            <td> <a href="/users/remove/<%= data.id %>" >Delete</a> | <a href="/users/<%= data.id %>"> Edit</a></td>
                                        </tr>
                                    </tbody>
                                    <% }) %>

                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </body>
        <%- include("../partials/footer.ejs") %>